.custom-table {
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
}

.custom-table td {
    border: 2px solid black;
    height: 100px;
    vertical-align: middle;
}

.table-responsive{
    border: 1;
    padding: 20px;
    margin: 40px auto;
}

.custom-table1 {
    border-collapse: separate;
    border-spacing: 10px;
}

.custom-table1 td {
    border: 2px solid black;
    vertical-align: middle;
    background-color: rgb(193, 240, 252);
}


.table-group-divider{
     border-top: 3px solid black !important; 
}

.grid-container5 {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.item {
    background: #eaf4ff;
    border: 1px solid #555;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.grid-container5 > .item:nth-child(-n+12) {
    grid-column: span 1;
}


.r2-4 {
    grid-column: span 4;
}


.r3-4 {
    grid-column: span 4;
}
.r3-8 {
    grid-column: span 8;
}


.r4-6 {
    grid-column: span 6;
}


.r5-12 {
    grid-column: span 12;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    width: 70%;
    text-align: center;
    gap: 20px;
    margin-left: 200px;
  }

  .grid-item {
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
  }

  .item-1 {
    grid-column: 1 / 3; 
    grid-row: 1 / 4;    
  }

  .item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .item-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .item-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .item-4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .item-6 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }